<% set_list_title %>

<header class="header">
  <%= form_with model: [@list, @task], local: true do |task_form| %>
    <%= main_field task_form, :description, 'Add a new task' %>
  <% end %>

</header>

<section class="main">
  <ul class="todo-list">
    <%= render collection: @list.tasks, partial: 'tasks/task_li', as: :task %>
  </ul>
</section>

<% content_for :page_specific_content do %>
  <%= link_to 'Manage Sharing', sharing_list_path, class: 'btn btn-primary', role: 'button' if can? :manage, @list %>
  <%= content_tag :h6, "Shared by: #{@list.creator.email}" if @list.creator != current_user %>
<% end %>
