<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :main_text %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    
    <h1 id="<%= yield :main_text_id %>"><%= yield :main_text %></h1>

    <section class="todoapp">

      <%= yield %>

      <%= render 'layouts/social_links' unless user_signed_in? %>
    </section> <!-- todoapp -->

    <%= render 'layouts/footer' %>
  </body>
</html>
