<!DOCTYPE html>
<html>
  <head>
    <title>TodoMvc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    
    <section class="todoapp">

      <%= yield %>

    </section> <!-- todoapp -->

    <%= render 'layouts/footer' %>
  </body>
</html>
